@import "./placeholder";

.articles {
  background: #fff;
  padding: 3rem;
  max-width: 88em;
  margin: 0 auto 3rem auto;
  h2 {
    margin: 5rem 0;
    padding: 3rem;
    width: 100%;
    font-size: 3rem;
    font-weight: 400;
    color: $secondary-dark-color;
  }
  &__section {
    margin: 5rem 0;
    h2 {
      color: $secondary-dark-color;
      font-weight: 700;
      font-size: $font-size-lg;
    }
    h3 {
      color: $secondary-dark-color;
      font-weight: 500;
      font-size: $font-size-md;
    }
    p {
      color: $primary-dark-color;
    }
  }
}
