.footer {
  background-color: $primary-dark-color;
  background-image: linear-gradient(
    to top,
    $tertiary-dark-color,
    $primary-dark-color
  );
  width: 100%;
  min-height: 120px;
  margin: 2rem 0 0 0;
  padding: 2rem;
  * {
    color: $primary-light-color;
  }
  &__links {
    flex-direction: column;
    :not(:last-child) {
      padding-bottom: 1rem;
    }
  }
  * {
    padding: 1rem;
  }
  &__logo {
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -ms-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform 400ms, ease-in-out, opacity 400ms ease-in-out;
    &:hover {
      opacity: 0.725;
      transform: scale(0.9675);
    }
  }
}