/** TODO: Margins */

/** TODO: Padding */

/** Text Center */
.text-center {
  text-align: center;
}

/** Flexbox */
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}
