/** TODO: Margins */

/** TODO: Padding */

/** Text Center */
.text-center {
  text-align: center;
}

/** Flexbox */
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

button,
.btn {
  padding: 1rem 1.875rem;
  background: $primary-dark-color;
  background-image: linear-gradient(
    to right,
    $primary-dark-color,
    $secondary-dark-color,
  );
  color: $primary-light-color;
  border: 0;
  border-radius: 50px;
  font-weight: 400;
  cursor: pointer;
}
